
 <p>
    <span id="box" *ngFor="let block of gs.blocks ; let i = index; trackBy: trackByFn " (click)="playerClick(i)">
        <!-- <i [class]="block.symbol == 'done' ? 'material-icons tick' : 'material-icons cross'">{{ block.symbol }}</i> -->
    </span>
</p>

